@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Set and Get informtiona from TempData and pass through ViewBag</p>

Home Controller Information : @ViewBag.Controller
<br />
Home Action Method Information : @ViewBag.Action

